# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Data
synonyms.json

# IDE
.vscode/
.idea/

# Test outputs
tests/results/
run_experiments.py
speed_run_experiment.py
tests/speed_batch_test.py
model_download.ipynb